<div class="container p-3">
    <div class="row">
        <div class="col-md-12 mx-auto my-auto">
            <h2 class="pb-3">PROFESORES</h2>
            <form method="POST" action="/professors/new" id="FormCollege">
                <div class="row">
                    <div class="col-md-6 mx-auto my-auto">
                        <div class="mb-3">
                            <label for="Name" class="form-label">Nombre</label>
                            <input type="text" class="form-control" name="Name" maxlength="50" id="Name" required>
                        </div>
                        <div class="mb-3">
                            <label for="Gender" class="form-label">Género</label>
                            <select type="text" class="form-control" name="Gender" id="Gender" required>
                                <option value="">Selecciona uno</option>
                                <option value="0">Mujer</option>
                                <option value="1">Hombre</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 mx-auto my-auto">
                        <div class="mb-3">
                            <label for="Surname" class="form-label">Apellidos</label>
                            <input type="text" class="form-control" name="Surname" maxlength="50" id="Surname" required>
                            <input type="number" class="form-control" name="Id" id="Id" hidden value="">
                        </div>
                    </div>

                </div><button type="submit" class="btn btn-primary">Enviar</button>
            </form>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mx-auto my-auto pt-5">
            {{#if professors}}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col align-middle">#</th>
                        <th scope="col align-middle">Nombre</th>
                        <th scope="col align-middle">Apellido</th>
                        <th scope="col align-middle">Género</th>
                        <th class="align-middle"></th>
                    </tr>
                </thead>
                <tbody>

                    {{#each professors}}
                    <tr>
                        <td scope="row" class="align-middle">{{Id}}</td>
                        <td class="align-middle">{{Name}}</td>
                        <td class="align-middle">{{Surname}}</td>
                        <td class="align-middle">{{#if Gender}}Hombre{{else}}Mujer{{/if}}</td>
                        <td class="align-middle">
                            <button class="btn btn-danger" type='button' onclick="DeleteProfessor({{Id}})"><i
                                    class="bi bi-person-dash"></i></button>
                            <button class="btn btn-secondary" type='button'
                                onclick="EditProfessor({{Id}},'{{Name}}','{{Surname}}','{{Gender}}','{{DoB}}')"><i
                                    class="bi bi-pencil-square"></i></button>
                        </td>
                    </tr>
                    {{/each}}


                </tbody>
            </table>
            {{else}}
            No hay registros aún
            {{/if}}
        </div>
    </div>
</div>

<script>
    function EditProfessor(Id, Name, Surname, Gender) {
        document.getElementById('Name').value = Name;
        document.getElementById('Surname').value = Surname;
        document.getElementById('Gender').value = Gender;
        document.getElementById('Id').value = Id;
    }

    function DeleteProfessor(Id) {
        const form = document.getElementById('FormCollege')
        form.action = `/professors/delete/${Id}`
        form.method = 'GET'
        form.submit();
    }
</script>